<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#4188c9">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Gocam - Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
  
  <link href="./assets/css/dashboard.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
</head>

<body>
  <div class="page" id="app">
    <div class="page-main">
      <div class="header py-4"> </div>
      <div class="my-3 my-md-5">
        <div class="container">
          <div class="page-header">
            <h1 class="page-title">
              Go Cam Alert
            </h1>
          </div>
          <div class="row row-cards row-deck">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h3 class="mb-1">{{ totalAlerts }}</h3>
                  <div class="text-muted">alerts</div>
                </div>
              </div>
            </div>
          </div>
          <div v-for="(alerts, date) in alertGroups">
            <div class="row">
                <div class="col-12">
                  <h4><a :href="`#collapse-`+getTimestamp(date)" data-toggle="collapse">{{ formatDate(date) }} ({{ alerts.length }})</a></h4>
                </div>
              </div>
              <div :id="`collapse-`+getTimestamp(date)" :class="{ row: true, collapse: true, 'multi-collapse': true, show: isFirstGroup(date) }">
                <div class="col-md-4 col-sm-12" v-for="alert in alerts">
                  <div class="card p-3">
                    <a :href="`/images/alert/` + alert.image_name" target="_blank">
                      <img :src="`/images/alert/` + alert.image_name" />
                    </a>
                    <div class="ml-auto text-muted">
                      {{ formatDateTime(alert.timestamp) }}
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row align-items-center flex-row-reverse">
          <div class="col-auto ml-lg-auto">
            <div class="row align-items-center">
              <div class="col-auto">
                <a href="https://github.com/jordyv/gocam" target="_blank" class="btn btn-sm"><i class="fe fe-github"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
            Copyright &copy; {{ currentDate.getFullYear() }} - Gocam - camera alerts
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="./assets/js/vendor/jquery-3.2.1.min.js"></script>
  <script src="./assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="./app/main.js"></script>
</body>

</html>